/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.vuepress-blog-theme-content,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,blockquote,table,th,td,form,fieldset,legend,input,textarea,select,button,a,div,header,footer,section,article,nav,figure,figcaption,canvas,main,svg
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif !important;
}

.search-box > input, .suggestion > a
{
  color : #000 !important;
}

.title > a
{
  text-transform : none !important;
}

svg.icon.outbound
{
  display: none;
}