// colors
// $accentColor = lighten(#4a154b, 50%)
$accentColor = #CF0A0A

// $textColor = #2c3e50
// $darkTextColor = #000

$textColor = #ffffff
$darkTextColor = #ffffff

// $borderColor = rgba(0,0,0,.05)
// $darkBorderColor = #000

$codeBgColor = #181818

// $bgColor = #fff
// $headerBgColor = $bgColor;

$bgColor = #000
$headerBgColor = $bgColor;

// $footerBgColor = #000
// $footerColor = #828282

// $newsletterBgColor = #f8f8f8

// // layout
// $headerHeight = 80px
// $contentWidth = 740px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// // code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile

// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961